<%= render :partial => "layouts/menu" %>

<div id="admin_liste">
<h1>Time registrering <%= link_to '[Ny registrering]', new_hour_path %><%= link_to '[Find alle]', hours_path %></h1>


<%= form_for @search do |f| %>    
    <p>
		<%= f.label :firma %>  
    	<%= f.text_field :relation_company_contains, :size => 16 %>   
		<%= f.submit "[Søg]", :class => 'button' %>
	</p>
<% end %>

<table>
  <tr>
	<!-- <th>ID</th> -->
    <th colspan=5 class='hours_headline' >Kunde og status</th>
	<th class='pos'>Handling</th>
  </tr>

<% for hour in @hours %>

<% @relation = Relation.find(hour.relation_id) %>
<% @relation_id = hour.relation_id %>
		
		<% if @relation_id != @relation_id_previous %>

			<% @relation_id_previous = @relation_id %>
					<!-- <tr class='background-row'><td colspan=6></td></tr> -->
					<tr><td colspan=5><b>
						<div id="voucher_status">
							<%= @relation.company rescue nil %> – 
							<span id="voucher_headline">Klippekort status: </span>
							<span id="voucher_text">
								(<%= @relation.vouchers.sum(:number) rescue nil %> 
								- <%= @relation.hours.sum(:number) rescue nil %>
								= <% @result = @relation.vouchers.sum(:number) - @relation.hours.sum(:number) rescue nil %>
								<% if @result < 0 %>
									<span id='voucher_red'> <%= @result %> klip mangler</span>) 
								<% else %>
									<span id='voucher_green'> <%= @result %> klip resterer)</span> 
								<% end %>
							
							</span>
						</div>
					</b></td>
					<% if session[:relation_id] == hour.relation_id.to_s %>
						
							<td class='pos'>
								<div id="voucher_status">
									<%= link_to '[Skjul]', hide_years_path(:relation_id => session[:relation_id]) %>
								</div>
							</td>
								
							</tr>


					<% else %>
					
						<td class='pos'>
							<div id="voucher_status">
								<%= link_to '[Vis]', show_years_path(:relation_id => @relation_id) %>
							</div>
						</td>
						</tr>
					
					<% end %>
		<% end %>
		
		<%#= session[:relation_id] rescue nil %>
		<% if session[:relation_id] == hour.relation_id.to_s %>
		
			<%= render :partial => "hours/partials/years_specified", :locals => {:hour => hour} %>
		
		<% end %>
		

<% end %>

<!-- <tr>
    <td colspan='2'></td>
    <td></td>
 	<td colspan='2'></td>
</tr> -->

</table>

<!-- Total antal timer TKS: <%#=  @Sum_timer = Hour.sum(:number, :conditions => ['user_id = ?', '1']) / 2 rescue nil %><br/>
Total antal timer JST: <%#=  @Sum_timer = Hour.sum(:number, :conditions => ['user_id = ?', '2']) rescue nil %><br/>
Total antal timer MKS: <%#=  @Sum_timer = Hour.sum(:number, :conditions => ['user_id = ?', '3']) rescue nil %> -->


</div>