<%= render :partial => "layouts/menu" %>

<div id="admin_liste">
<h1>Time registrering <%= link_to '[Ny registrering]', new_hour_path %><%= link_to '[Find alle]', hours_path %></h1>


<%= form_for @search do |f| %>    
    <p>
		<%= f.label :firma %>  
    	<%= f.text_field :relation_company_contains, :size => 16 %>   
		<%= f.submit "[Søg]", :class => 'button' %>
	</p>
<% end %>

<table>
  <tr>
	<!-- <th>ID</th> -->
    <th>Bruger</th>
	<th><%= sort_link @search, :relation_company, 'Relation', :default_order => :desc  %></th>
    <th width='245'>Beskrivelse</th>
    <th>Ant.</th>
    <th class='pos'><%= sort_link @search, :relation_company_and_date, 'Dato', :default_order => :desc  %></th>
	<th>Handling</th>
  </tr>

<% for hour in @hours %>

<% @relation = Relation.find(hour.relation_id) %>
<% @relation_id = hour.relation_id %>
		
		<% if @relation_id != @relation_id_previous %>

			<% @relation_id_previous = @relation_id %>
					<tr class='background-row'><td colspan=6></td></tr>
					<tr><td colspan=6><b>
						<div id="voucher_status">
							<%= @relation.company rescue nil %> – 
							<span id="voucher_headline">Klippekort status: </span>
							<span id="voucher_text">
								(<%= @relation.vouchers.sum(:number) rescue nil %> 
								- <%= @relation.hours.sum(:number) rescue nil %>
								= <% @result = @relation.vouchers.sum(:number) - @relation.hours.sum(:number) rescue nil %>
								<% if @result < 0 %>
									<span id='voucher_red'> <%= @result %> klip mangler</span>) 
								<% else %>
									<span id='voucher_green'> <%= @result %> klip resterer)</span> 
								<% end %>
							
							</span>
						</div>
					</b></td></tr>
		<% end %>


	<% if session[:hour_id] == hour.id.to_s %>

		<% @hour = hour %>

		<%= render :partial => "hours/index_edit" %>

	<% else %>
	  <tr>
		<!-- <td class='pos'><%#= hour.id %></td> -->
	    <td class='pos'><%= User.find(hour.user_id).blogname rescue nil %></td>
	    <td><%= Relation.find(hour.relation_id).company rescue nil %></td>
		<td width=375px><%= hour.description %></td>
	    <td class='pos'><%= number_with_delimiter(hour.number, :locale => :da) %></td>
	    <td class='dato'><%= nice_date(hour.date) rescue nil %></td>
	    <td>
		<% if current_user.id == hour.user_id %>
			<%= link_to '[Ret]', edit_hour_path(hour) %>
			<%= link_to '[Slet]', hour, :confirm => 'Er du sikker?', :method => :delete %>
		<% end %>
		<%= link_to '[Vis]', hour %></td>
	  </tr>
	<% end %>
<% end %>

<!-- <tr>
    <td colspan='2'></td>
    <td></td>
 	<td colspan='2'></td>
</tr> -->

</table>

<!-- Total antal timer TKS: <%#=  @Sum_timer = Hour.sum(:number, :conditions => ['user_id = ?', '1']) / 2 rescue nil %><br/>
Total antal timer JST: <%#=  @Sum_timer = Hour.sum(:number, :conditions => ['user_id = ?', '2']) rescue nil %><br/>
Total antal timer MKS: <%#=  @Sum_timer = Hour.sum(:number, :conditions => ['user_id = ?', '3']) rescue nil %> -->


</div>