<%= render :partial => "layouts/menu" %>
<div id="admin_liste">
	
<h1>Timeliste for <%= @relation.company %></h1>

<div id="voucher_status">
	<span id="voucher_headline">Klippekort status: </span>
	<span id="voucher_text">
		(<%= @relation.vouchers.sum(:number) rescue nil %> 
		- <%= @relation.hours.sum(:number) rescue nil %>
		= <% @result = @relation.vouchers.sum(:number) - @relation.hours.sum(:number) rescue nil %>
		<% if @result < 0 %>
			<span id='voucher_red'> <%= @result %> klip mangler</span>) 
		<% else %>
			<span id='voucher_green'> <%= @result %> klip resterer)</span> 
		<% end %>
	</span>
</div>
<table>
  <tr>
    <th class='pos'><%= sort_link @search, :date, 'Dato', :default_order => :desc  %></th>
    <th width=375px>Beskrivelse</th>
    <th class='pos'>Ant.</th>
  </tr>

<% for hour in @hours %>
	<% if session[:hour_id] == hour.id.to_s %>
	
	<% @hour = hour %>
	
	<%= render :partial => "hours/index_edit" %>

	<% else %>
	  <tr>
		<td class='dato'><%= nice_date(hour.date) %></td>
		<td><%= hour.description %></td>
		<td class='pos'><%= number_with_delimiter(hour.number, :locale => :da) %></td>
	    
	    
	    
	  </tr>
	<% end %>
<% end %>

</table>

</div>