<%= render :partial => "layouts/menu" %>

<div id="admin_liste">
	
<h1>Timeliste for <%= @relation.company %></h1>

<div id="voucher_status">
	<span id="voucher_headline">Klippekort status: </span>
	<span id="voucher_text">
		(<%= @relation.vouchers.sum(:number) rescue nil %> 
		- <%= @relation.hours.sum(:number) rescue nil %>
		= <% @result = @relation.vouchers.sum(:number) - @relation.hours.sum(:number) rescue nil %>
		<% if @result < 0 %>
			<span id='voucher_red'> <%= @result %> klip mangler</span>) 
		<% else %>
			<span id='voucher_green'> <%= @result %> klip resterer)</span> 
		<% end %>
	</span>
</div>
<table id="timeliste">

	

<% for hour in @hours %>

<%= render :partial => "hours/partials/years_specified_public", :locals => {:hour => hour} %>

<% end %>


</table>

</div>