<%= render :partial => "layouts/menu" %>

<div id="admin_liste">
	
<h1>Timeliste for <%= @relation.company %></h1>

<div id="voucher_status">
	<span id="voucher_headline">Klippekort status: </span>
	<span id="voucher_text">
		(<%= @relation.vouchers.sum(:number) rescue nil %> 
		- <%= @relation.hours.sum(:number) rescue nil %>
		= <% @result = @relation.vouchers.sum(:number) - @relation.hours.sum(:number) rescue nil %>
		<% if @result < 0 %>
			<span id='voucher_red'> <%= @result %> klip mangler</span>) 
		<% else %>
			<span id='voucher_green'> <%= @result %> klip resterer)</span> 
		<% end %>
	</span>
</div>
<table id="timeliste">

	<%#= render :partial => "hours/partials/years_specified_public" %>

<% for hour in @hours %>

	<% @year = l hour.date, :format => :year %>
	<%# @year_number = hour.date.month %>
	<!-- l betyder at vi bruger I18 på hour.date og formatet :year under :date delen i da.yml filen -->

	<% if @year != @year_previous %>

		<% @year_previous = @year %>

		<% if session[:year] == @year.to_s %>

			<tr>
				<td colspan=5><span class='year'><%= @year %> - <%= number_with_delimiter(@relation.hours.year_hours(hour.date).sum(:number), :locale => :da) rescue nil %></span></td>
					<td class='pos'>
							<%= link_to '[Skjul]', hide_months_public_path(:relation_id => session[:relation_id], :q => params[:q]) %>
					</td>
			</tr>

		<% else %>
			<tr>
				<td colspan=5><span class='year'><%= @year %> - <%= number_with_delimiter(@relation.hours.year_hours(hour.date).sum(:number), :locale => :da) rescue nil %></span></td>
				<td class='pos'>
						<%= link_to '[Vis]', show_months_public_path(:relation_id => session[:relation_id], :year => @year, :q => params[:q]) %>
				</td>
			</tr>
		<% end %>

	<% end %>


	<% if session[:year] == @year.to_s %>

		<%= render :partial => "hours/partials/months_specified_public", :locals => {:hour => hour} %>

	<% end %>

<% end %>


  <!-- <tr>
    <th class='pos'><%#= sort_link @q, :date, 'Dato', :default_order => :desc  %></th>
    <th width=375px>Beskrivelse</th>
    <th class='pos'>Ant.</th>
  </tr>
  <tr>
	<td class='dato'><%#= nice_date(hour.date) rescue nil %></td>
	<td><%= hour.description %></td>
	<td class='pos'><%#= number_with_delimiter(hour.number, :locale => :da) %></td>
  </tr> -->

</table>

</div>