= render :partial => "layouts/menu"

#admin_liste
	= form_tag relations_path, :method => 'get' do
		%h1
			Relationer i Kruby 
			=link_to '[Ny relation]', new_relation_path
		%p
			= text_field_tag :search, params[:search]
			= submit_tag "[Søg]", :name => nil, :class => 'button'

	%table
		%tr
			%th Firma
			%th By
			%th Kategori
			%th Ansvar
			%th Næste kontakt
			%th Brugernavn
			%th Handling
		- for relation in @relations
			%tr
				%td= relation.company
				%td= relation.city
				%td= relation.category
				%td= relation.responsible
				%td= nice_timestamp(relation.next_action)rescue nil
				%td= User.find(relation.user_id).name rescue nil
				%td
					= link_to '[Ret]', edit_relation_path(relation)
					= link_to '[Slet]', relation, :confirm => 'Er du sikker?', :method => :delete

	%span.pagination_info
		= will_paginate @posts