<%= render :partial => "layouts/menu" %>

<div id="admin_liste">
<%= form_tag relations_path, :method => 'get' do %>
<h1>Relationer i Kruby <%= link_to '[Ny relation]', new_relation_path %></h1>
<p>
	<%= text_field_tag :search, params[:search] %>
	<%= submit_tag "[Søg]", :name => nil, :class => 'button'%>
	</p>
<% end %>


<table>
  <tr>
    <th>Firma</th>
    <!-- <th>Adresse</th>
        <th>Postnr.</th> -->
    <th>By</th>
	<!-- <th>Telefon</th>
	    <th>Log</th> -->
    <th>Kategori</th>
    <th>Ansvar</th>
	<th>Næste kontakt</th>
	<th>Brugernavn</th>
	<th>Handling</th>
  </tr>

<% for relation in @relations %>
  <tr>
    <td><%= relation.company %></td>
    <!-- <td><%#= relation.address %></td>
        <td><%#= relation.postno %></td> -->
    <td><%= relation.city %></td>
	<!-- <td><%#= relation.phone %></td>
	    <td><%#= relation.log %></td> -->
    <td><%= relation.category %></td>
    <td><%= relation.responsible %></td>
	<!-- <td><%#= nice_date(relation.action_date) + nice_time(relation.action_time) rescue nil %></td> -->
	<td><%= nice_timestamp(relation.next_action)rescue nil %></td>
	<td><%= User.find(relation.user_id).name rescue nil %></td>
	<td><%= link_to '[Ret]', edit_relation_path(relation) %><%= link_to '[Slet]', relation, :confirm => 'Er du sikker?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<span class='pagination_info'><%#= page_entries_info @posts %><%= will_paginate @posts %></span>
</div>
