<%= render :partial => "layouts/menu" %>
<div id="admin_formular">

<p>
  <b>Company:</b>
  <%= @relation.company %>
</p>

<p>
  <b>Address:</b>
  <%= @relation.address %>
</p>

<p>
  <b>Postno:</b>
  <%= @relation.postno %>
</p>

<p>
  <b>City:</b>
  <%= @relation.city %>
</p>

<p>
  <b>Telefon:</b>
  <%= @relation.phone %>
</p>

<p>
  <b>Log:</b>
  <%= @relation.log %>
</p>

<p>
  <b>Category:</b>
  <%= @relation.category %>
</p>

<p>
  <b>Responsible:</b>
  <%= @relation.responsible %>
</p>


<%= link_to 'Edit', edit_relation_path(@relation) %> |
<%= link_to '[Tilbage]', relations_path %>


</div>