
  <tr>
	<%= form_for(@hour) do |f| %>
	<%#= f.hidden_field(:search, :value => params[:search]) %>
    <!-- <td class='pos'><%#= User.find(@hour.user_id).blogname rescue nil %><%#= f.hidden_field(:user_id, :value => current_user.id) %>
                    	</td> -->
	<td colspan=2><%= f.collection_select(:relation_id, Relation.all, :id, :company, :prompt => 'Vælg evt. Relation', :include_blank => true ) %></td>
	<!-- <td class='pos'><%#= Relation.find(@hour.relation_id).vouchers.sum(:number) - Relation.find(@hour.relation_id).hours.sum(:number) rescue nil %></td> -->
    <td><%= f.text_field :description, :size => '30', :class => 'felter' %></td>
    <td><%= f.number_field :number, :size => '3', :class => 'center'%></td>
    <td><%= f.date_select :date, :order => [:day, :month, :year ], :include_blank => true %></td>
    <td><%= hidden_field(@hours, :relation_id, :value => session[:relation_id]) %><%= f.submit "[Opdater]", :class => 'button_white' %>
		<%#= link_to '[Tilbage]', hours_path, session[:hour_id] = nil %>
		<%= link_to '[Tilbage]', show_days_path(:relation_id => session[:relation_id], :month => @month_number, :q => params[:q]), session[:hour_id] = nil %>
	</td>
	<% end %>  
</tr>
