<% @year = l hour.date, :format => :year %>
<%# @year_number = hour.date.month %>
<!-- l betyder at vi bruger I18 på hour.date og formatet :year under :date delen i da.yml filen -->
		
<% if @year != @year_previous %>

	<% @year_previous = @year %>
			
	<% if session[:relation_id] == hour.relation_id.to_s and session[:year] == @year.to_s %>

		<tr>
			<td colspan=5><span class='year'><%= @year %> - <%= number_with_delimiter(@relation.hours.year_hours(hour.date).sum(:number), :locale => :da) rescue nil %></span></td>
				<td class='pos'>
						<%= link_to '[Skjul]', hide_months_path(:relation_id => session[:relation_id], :q => params[:q]) %>
				</td>
		</tr>
		
	<% else %>
		<tr>
			<td colspan=5><span class='year'><%= @year %> - <%= number_with_delimiter(@relation.hours.year_hours(hour.date).sum(:number), :locale => :da) rescue nil %></span></td>
			<td class='pos'>
					<%= link_to '[Vis]', show_months_path(:relation_id => session[:relation_id], :year => @year, :q => params[:q]) %>
			</td>
		</tr>
	<% end %>

<% end %>


<% if session[:relation_id] == hour.relation_id.to_s and session[:year] == @year.to_s %>

	<%= render :partial => "hours/partials/months_specified", :locals => {:hour => hour} %>

<% end %>
