<%= form_for @user do |f| -%>

	<div class="button"><%= f.submit :class => 'button'%><%= link_to '[Tilbage]', users_path %></div>

	<% if @user.errors.any? %>
	  <div class="error_messages">
	    <h2>Følgende fejl skal rettes</h2>
	    <ul>
	      <% for message in @user.errors.full_messages %>
	        <li><%= message %></li>
	      <% end %>
	    </ul>
	  </div>
	<% end %>


	<div class='label'><%= f.label :kategori %></div>
	<div class='input'><%= f.select(:category, ['User', 'Editor', 'Admin'], {}, :class => 'bruger_kategori') %></div>

	<div class='label'><%= f.label :name %></div>
	<div class='input'><%= f.text_field :name %></div>

	<div class="label"><%= f.label :blogname %></div>
	<div class='input'><%= f.text_field :blogname %></div>

	<div class='label'><%= f.label :email %></div>
	<div class='input'><%= f.text_field :email %></div>

	<div class='label'><%= f.label :password %></div>
	<div class='input'><%= f.password_field :password %></div>

	<div class='label'><%= f.label :password_confirmation %></div>
	<div class='input'><%= f.password_field :password_confirmation %></div>


	


<% end -%>