<%= render :partial => "layouts/menu" %>
<div id="admin_liste">
<h1>Data fra Menus til migrering</h1>

<table>
  <tr>
	<th>Records</th>    
	
  </tr>

<tr><td>class AddDataToTables < ActiveRecord::Migration</tr></td>
<tr><td>def self.up</tr></td>
<% @counter = 0 %>
<% for menu in @menus %>
<% @counter = @counter+1 %>
<tr><td>
		Menu.create(
		:name => '<%= menu.name%>',
		:title => '<%= menu.title%>', 
		:body => '<%=simple_format(menu.body)%>',
		:active => '<%= menu.active%>'
		)
		<tr><td>
		<% c = Content.find_by_resource_id_and_resource_type(menu.id, 'Menu') %>
		Content.update(<%= @counter %>,
		{:controller_name => '<%= c.controller_name rescue nil%>', :category => '<%= c.category rescue nil%>', :position => '<%= c.position rescue nil%>', :active => '<%= c.active rescue nil%>'})
		</td></tr>
</td></tr>
	
<% end %>

<% for page in @pages %>
<% @counter = @counter+1 %>
<tr><td>
		Page.create(
		:name => '<%= page.name%>',
		:title => '<%= page.title%>', 
		:body => '<%=simple_format(page.body)%>',
		:headline => '<%= page.headline%>',
		:active => '<%= page.active%>',
		:image => '<%= page.image%>',
		:image_class => '<%= page.image_class%>'
		)
		<tr><td>
		<% c = Content.find_by_resource_id_and_resource_type(page.id, 'Page') %>
		Content.update(<%= @counter %>,
		{:controller_name => '<%= c.controller_name rescue nil%>', :category => '<%= c.category rescue nil%>', :position => '<%= c.position rescue nil%>', :active => '<%= c.active rescue nil%>'})
		</td></tr>
		
</td></tr>
<% if page.name == 'Produkter' %>
<% @produkter = @counter %>
<% end %>

<% end %>

<% for product in @products %>
<% @counter = @counter+1 %>
<tr><td>
		Product.create(
		:name => '<%= product.name%>',
		:headline => '<%= product.headline%>',
		:description => '<%= simple_format(product.description)%>',
		:kind => '<%= product.kind%>',
		:cost_price => '<%= product.cost_price%>',
		:sales_price => '<%= product.sales_price%>',
		:purchase_quantity => '<%= product.purchase_quantity%>',
		:stock_in => '<%= product.stock_in%>',
		:stock_out => '<%= product.stock_out%>',
		:stock => '<%= product.stock%>',
		:created_at => '<%= product.created_at%>',
		:updated_at => '<%= product.updated_at%>',
		:active => '<%= product.active%>',
		:image => '<%= product.image%>',
		:title => '<%= product.title%>',
		:image_class => '<%= product.image_class%>'
		)
		<tr><td>
		<% c = Content.find_by_resource_id_and_resource_type(product.id, 'Product') %>
		<% p = Content.find_by_name('Produkter') %>
		Content.update(<%= @counter %>,
		{:controller_name => '<%= c.controller_name rescue nil%>', :category => '<%= c.category rescue nil%>', :position => '<%= c.position rescue nil%>', :parent_id => '<%= @produkter %>', :active => '<%= c.active rescue nil%>'})
		</td></tr>
		
</td></tr>

<% end %>

<% for newsarchive in @newsarchives %>
<tr><td>
		Newsarchive.create(
		:title => '<%= newsarchive.title%>',
		:text => '<%=simple_format(newsarchive.text)%>', 
		:author => '<%= newsarchive.author%>',
		:link => '<%= newsarchive.link%>',
		:created_at => '<%= newsarchive.created_at%>',
		:updated_at => '<%= newsarchive.updated_at%>',
		:active => '<%= newsarchive.active%>',
		:name => '<%= newsarchive.name%>',
		:image => '<%= newsarchive.image%>'
		)
		
</td></tr>

<% end %>

<% for post in @posts %>
<tr><td>
		Post.create(
		:title => '<%= post.title%>',
		:body => '<%= simple_format(post.body)%>', 
		:author => '<%= post.author%>',
		:priority => '<%= post.priority%>',
		:created_at => '<%= post.created_at%>',
		:updated_at => '<%= post.updated_at%>',
		:parent_id => '<%= post.parent_id%>',
		:user_id => '<%= post.user_id%>'
		)
</td></tr>

<% end %>

<% for recipe in @recipes %>
<tr><td>
		Recipe.create(
		:name => '<%= recipe.name%>',
		:text => '<%= simple_format(recipe.text)%>',
		:active => '<%= recipe.active%>', 
		:type => '<%= recipe.type%>',
		:image => '<%= recipe.image%>',
		:title => '<%= recipe.title%>'
		
		)
</td></tr>

<% end %>

<% for relation in @relations %>
<tr><td>
		Relation.create(
		:company => '<%= relation.company%>',
		:address => '<%= relation.address%>', 
		:postno => '<%= relation.postno%>',
		:city => '<%= relation.city%>',
		:log => '<%= relation.log%>',
		:category => '<%= relation.category%>',
		:responsible => '<%= relation.responsible%>',
		:phone => '<%= relation.phone%>'
		)
</td></tr>

<% end %>

<% for user in @users %>
<tr><td>
		User.create(
		:login => '<%= user.login%>',
		:email => '<%= user.email%>', 
		:crypted_password => '<%= user.crypted_password%>',
		:salt => '<%= user.salt%>',
		:created_at => '<%= user.created_at%>',
		:updated_at => '<%= user.updated_at%>',
		:admin => '<%= user.admin%>',
		:active => '<%= user.active%>',
		:category => '<%= user.category%>',
		:blogname => '<%= user.blogname%>'		
		)
</td></tr>

<% end %>


<tr><td>end</tr></td>
<tr><td>def self.down</tr></td>
<tr><td>ActiveRecord::Base.connection.execute('TRUNCATE menus')</tr></td>
<tr><td>ActiveRecord::Base.connection.execute('TRUNCATE newsarchives')</tr></td>
<tr><td>ActiveRecord::Base.connection.execute('TRUNCATE pages')</tr></td>
<tr><td>ActiveRecord::Base.connection.execute('TRUNCATE posts')</tr></td>
<tr><td>ActiveRecord::Base.connection.execute('TRUNCATE products')</tr></td>
<tr><td>ActiveRecord::Base.connection.execute('TRUNCATE recipes')</tr></td>
<tr><td>ActiveRecord::Base.connection.execute('TRUNCATE relations')</tr></td>
<tr><td>ActiveRecord::Base.connection.execute('TRUNCATE users')</tr></td>

<tr><td>end</tr></td>
<tr><td>end</tr></td>




</table>

<br />

</div>