<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<script type="text/javascript" src="http://gettopup.com/releases/latest/top_up-min.js"></script>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<!-- <link href='http://fonts.googleapis.com/css?family=Fontdiner+Swanky' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here' rel='stylesheet' type='text/css'> -->
<%= google_font_link_tag 'Fontdiner+Swanky'%>
<%= google_font_link_tag 'Just+Me+Again+Down+Here'%>
<link href="/images/mini.gif" rel="shortcut icon"/>
<title><%= @pagetitle %></title>
<%= stylesheet_link_tag 'kruby_viewer', 'kruby_forside_blog', 'kruby_blog' %>
<%= javascript_include_tag :defaults %>
<%= javascript_include_tag 'drop_down' %>
<%= google_analytics_js %>

</head>

<body>
		<%#= test_web_browser %>
		<%= @browser %>
		
	
	
<%= yield%>

<%= yield :javascript %>

</body>
</html>